* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #3bc5fc;
  color: white;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card {
  width: 600px;
  background: #83d7f3;
  padding: 24px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.add-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #334155;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.action-buttons {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-input {
  flex: 1;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}